<!DOCTYPE html>

<html lang="en">
  <head>
    <title>List of Events</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script async src="{{{appclient}}}"></script>
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/css/crayons-min.css"
    />

    <script defer src="../scripts/list-events.js"></script>
    <script defer src="../scripts/data.js"></script>
  </head>

  <body>
    <div class="main">
      <div class="events-wrapper">
        <div class="events-header">
          <fw-datepicker
            display-format="dd-MM-yyyy"
            label="Range :"
            mode="range"
            id="range-picker"
            show-footer="false"
            clear-input
          ></fw-datepicker>
          <fw-select
            label="Sort By :"
            value="desc"
            placeholder="Your choice"
            id="events-sort"
          >
            <fw-select-option value="desc">Newest</fw-select-option>
            <fw-select-option value="asc">Oldest</fw-select-option>
          </fw-select>
          <fw-select
            label="Status :"
            value="all"
            placeholder="Your choice"
            id="events-status"
          >
            <fw-select-option value="all">All</fw-select-option>
            <fw-select-option value="active">Active</fw-select-option>
            <fw-select-option value="canceled">Canceled</fw-select-option>
          </fw-select>
        </div>
        <fw-button color="primary" id="apply-changes">Apply Changes</fw-button>
        <div class="events-body">
          <fw-skeleton variant="rect" count="10" height="30px"></fw-skeleton>
        </div>
        <div class="events-footer"></div>
      </div>
    </div>
    <fw-toast id="type_toast"></fw-toast>
    <fw-modal id="cancel-event" title-text="Delete Event">
      <fw-modal-content>
        <span class="fw-type-lg"
          >Are you sure you want to delete this Event?</span
        >
        <fw-textarea
          cols="50"
          rows="4"
          max-rows="10"
          max-rows-debounce-timer="300"
          id="cancel-reason"
          label="Reason (Optional)"
        >
        </fw-textarea>
      </fw-modal-content>
      <fw-modal-footer
        submit-text="Cancel Event"
        cancel-text="Discard"
        submit-color="danger"
        id="cancel-footer"
      ></fw-modal-footer>
    </fw-modal>
  </body>

  <script
    async
    type="module"
    src="https://unpkg.com/@freshworks/crayons@3/dist/crayons/crayons.esm.js"
  ></script>
  <script
    async
    nomodule
    src="https://unpkg.com/@freshworks/crayons@3/dist/crayons/crayons.js"
  ></script>
</html>
